/*

*/

h1, h2, h3, h4, h5, p, blockquote {
    margin: 0.5em 0;
    padding: 0;
}

body {
    font-size: 90%;
    font-family: sans-serif;
}

body.dark {
    background-color: #000;
    color: #fff;
}

#mainArticle {
    margin: 0.4em;
    border-top: 2px solid #666;
    padding-top: 1em;
    
}
