@import "normalize.css";
@import "highlight-github.css";

/*
    @title: Coder on Fire styles
*/

$break-small: 320px;
$break-large: 700px;

.cof {
    margin: 2rem auto;
    font-family: 'PT Sans', helvetica, arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 960px;
    color: rgb(30, 30, 30);
}


/* HEADING */
.cof-header {
  overflow: hidden;
  margin-bottom: 3rem;
}

.cof-header-title {
}
.cof-header-title-heading {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-decoration: none;
}
.cof-header-title-sub_heading {
  display: block;
  font-family: 'PT Serif', helvetica, arial, sans-serif;
}

.cof-header-nav {
}


/* POSTS */
.cof-post {
    img {
	width: 100%;
    }

    @media screen and (min-width: $break-large) {
	line-height: 1.6rem;
	margin: 1rem auto;
	max-width: 550px;

	img {
	    width: auto;
	}
    }

}


.cof-post-heading {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-style: bold;
}

.cof-post-meta {
  color: rgb(120, 120, 120);
}
